---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import Hero from "../sections/Hero.astro";
import Info from "../sections/Info.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <Hero />
    <Info />
    <img src="../../public/Instagram.svg" alt="" class="z-10" />

    <img src="" alt="" />
  </main>
  <Footer />
</Layout>
