---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import Hero from "../sections/Hero.astro";
import Info from "../sections/Info.astro";
import Calendar from "../sections/Calendar.astro";
import Ubication from "../sections/Ubication.astro";
import "../styles/global.css";
import CardPrincing from "../components/CardPrincing.astro";
import Services from "../sections/Services.astro";
import SocialOpinion from "../sections/SocialOpinion.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <Hero />
    <Info />
    <Services />
    <Ubication />
    <Calendar />
    <SocialOpinion />
    <CardPrincing />
  </main>
  <Footer />
</Layout>
