<div id="smoke-bg" class="fixed top-0 h-full w-full -z-10 pointer-events-none">
</div>

<script>
  import * as THREE from "three";

  const $bkg = document.getElementById("smoke-bg");

  const w = window.innerWidth;
  const h = window.innerHeight;

  const scene = new THREE.Scene();

  //75 es el angulo de vision
  const camera = new THREE.PerspectiveCamera(75, w / h, 1, 1000);
  camera.position.z = 10;
  scene.add(camera);

  const render = new THREE.WebGLRenderer();
  render.setSize(w, h);
  render.setClearColor(0xdddddd, 1);

  $bkg?.appendChild(render.domElement);

  const light = new THREE.DirectionalLight(0xffffff, 0.5);

  const geometry = new THREE.BoxGeometry(1, 1, 1);

  const material = new THREE.MeshBasicMaterial({
    color: 0x0099ff,
  });

  const smokeParticles: THREE.Mesh[] = []; //TIPAMOS EL ARAY

  const loader = new THREE.TextureLoader();
  loader.crossOrigin = ""; //evita problemqas al cargar texturas de afuera

  loader.load("/smoke.png", (texture) => {
    //creamos un plano
    const smokeGeo = new THREE.PlaneGeometry(300, 300);

    const smokeMaterial = new THREE.MeshLambertMaterial({
      map: texture,
      transparent: true,
    });

    const NUM_OF_PARTICLES = 300;
    for (let i = 0; i < NUM_OF_PARTICLES; i++) {
      const particle = new THREE.Mesh(smokeGeo, smokeMaterial);

      particle.position.set(
        Math.random() * 500 - 250,
        Math.random() * 500 - 250,
        Math.random() * 1000 - 100,
      );

      particle.rotation.z = Math.random() * 360;

      scene.add(particle);

      smokeParticles.push(particle);
    }
  });

  function animate() {
    requestAnimationFrame(animate);
    smokeParticles.forEach((particle) => {
      particle.rotation.z += 0.001;
    });

    render.render(scene, camera);
  }

  animate();
</script>
