---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import TikTok from "../icons/TikTok.astro";
import Mail from "../icons/mail.astro";

const SOCIALS = [
  {
    name: "Instagram",
    url: "#",
    icon: Instagram,
  },
  {
    name: "Facebook",
    url: "#",
    icon: Facebook,
  },
  {
    name: "TikTok",
    url: "#",
    icon: TikTok,
  },
  {
    name: "Email",
    url: "mailto:reservas@velvet.com",
    icon: Mail,
  },
];
---

<div class="flex gap-4 items-center">
  {
    SOCIALS.map(({ name, url, icon: Icon }) => (
      <a
        href={url}
        class="hover:text-[#d4af37] transition-colors duration-300 transform hover:scale-110 p-2 rounded-full"
        aria-label={name}
      >
        <Icon class="text-primary" />
      </a>
    ))
  }
</div>
