---
import SocialIcons from "../components/SocialIcons.astro";
---

<footer
  class="w-full border-primary border-t-2 flex flex-col md:flex-row items-center md:justify-between pb-10 pt-20"
>
  <span class="text-primary text-center">
    @ 2026 Gimaniso Alfa <span aria-hidden="true" class="hidden md:inline"
      >|</span
    ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados
  </span>

  <div class="flex flex-col items-center gap-4">
    <h3 class="text-primary text-lg font-semibold">Síguenos</h3>
    <SocialIcons class="text-primary" />
  </div>
</footer>
