---

---

<footer
  class="w-full border-primary border-t-2 flex flex-col md:flex-row items-center md:justify-between pb-10 pt-20 gap-y-10"
>
  <span class="text-primary text-center">
    @ 2026 Gimaniso Alfa <span aria-hidden="true" class="hidden md:inline"
      >|</span
    ><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados
  </span>

  <div class="flex flex-row items-center gap-x-6">
    <h3 class="hidden md:block md:text-primary md:text-lg md:font-semibold">
      Síguenos
    </h3>
    <ul class="flex items-center gap-4 text-primary">
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="#"
          class="hover:scale-125 hover:opacity-70 transition inline-block"
        >
          <img src="/public/Instagram.svg" alt="Logo de instagram" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="#"
          class="hover:scale-125 hover:opacity-70 transition inline-block"
        >
          <img src="/public/Tiktok.svg" alt="Logo de Tiktok" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="#"
          class="hover:scale-125 hover:opacity-70 transition inline-block"
        >
          <img src="/public/mail.svg" alt="Logo de Gmail" />
        </a>
      </li>
    </ul>
  </div>
</footer>
