---
import HeroLogo from "../components/Herologo.astro";
---

<section class="flex flex-col justify-center items-center gap-9">
  <span class="uppercase text-secondary bg-primary px-2 py-1"
    >presentaccion de el
  </span>
  <HeroLogo class="uppercase text-primary h-[578.97px] w-200" />
</section>
