---
import HeroLogo from "../components/Herologo.astro";
---

<section class="flex flex-col justify-center items-center gap-9">
  <span class="uppercase text-white bg-primary px-2 py-1"
    >presentaccion de el
  </span>
  <HeroLogo class="uppercase text-white h-96 w-200" />
</section>
