---
import HeroLogo from "../components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center gap-9">
  <span class="uppercase text-[#ddd] bg-[#333] px-2 py-1"
    >presentaccion de el
  </span>
  <HeroLogo class="uppercase text-[#333] h-[578.97px] w-200" />
</section>
